name: Build and Release Resume

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  build_and_release:
    runs-on: ubuntu-latest
    container: texlive/texlive:latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Compile Resume
        run: |
          make -j2 Harshal_Resume_RPT.pdf Harshal_Resume_India.pdf

      - name: Generate Release Tag
        id: tag
        run: echo "release_tag=$(date +'%Y.%m.%d-%H%M%S')" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.tag.outputs.release_tag }}
          name: Release ${{ steps.tag.outputs.release_tag }}
          draft: false
          prerelease: false
          files: |
            examples/Harshal_Resume_RPT.pdf
            examples/Harshal_Resume_India.pdf
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
